export_lfp.json
data.json
__pycache__
tgn1.xml
points.xlsx
tester.py
shape_tester*
polygon-generation/shapefile_reader.py
polygon-generation/POLYGON*
polygon-generation/raster*
polygon-generation/shape_tester*
gazetteer.db-journal
export_lpf.json
geonames_1.csv
/polygon-generation/gpw*