<html>
<!-- <body style="background-color:#e7e7e7;"> -->
<head>
	<link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/sqlbrowse.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/syntax-highlight.css') }}" />
    
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/iamhere.deps.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iamhere.app.min.css')}}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/iamhere.deps.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tangram.debug.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/iamhere.app.min.js')}}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaflet.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaflet.label.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mapzen.whosonfirst.iamhere.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mapzen.whosonfirst.iamhere.mobile.css')}}" />

    <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.label.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.hash.js')}}"></script>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapzen.whosonfirst.leaflet.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapzen.whosonfirst.leaflet.styles.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapzen.whosonfirst.leaflet.handlers.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapzen.whosonfirst.leaflet.tangram.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapzen.whosonfirst.geojson.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapzen.whosonfirst.php.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapzen.whosonfirst.data.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapzen.whosonfirst.net.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapzen.whosonfirst.log.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapzen.whosonfirst.enmapify.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapzen.whosonfirst.pip.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapzen.whosonfirst.pelias.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapzen.whosonfirst.iplookup.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapzen.whosonfirst.feedback.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapzen.whosonfirst.iamhere.js')}}"></script>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapzen.whosonfirst.config.js')}}"></script>
    
</head>
 
<body>

<section class="top_container">
	<div id="login_box">
		<form action="{{ url_for('login') }}" class="form" method="post">
				<input id="access_box" placeholder="Enter Password" name="password" type="password" value=""/>
				<button class="login_button" type="submit">Login</button>
		</form>
	</div>
	<div id = "top_export_section">
		<form id="export_form" method="POST" action="{{ url_for('main_page_export') }}">
			<p>Select Export Format for Individual Place</p>
				<select id="format" name="format">
					<option value="lp">Linked Places</option>
					<option value="csv">CSV</option>
					<option value="shp">Shapefile</option>
				</select>
			<button>Export</button>
		</form>
	</div>
	<div class="whereami-controls whereami-search" id="search_box">
		<form action="{{ url_for('gazetteer_search') }}" class="form" method="GET" >
		<input id="input_place" name="input_place" type="text" autocomplete="off"/>
		<button id="find" type="submit">Search</button>
		<button id="findme" title="find my location">⌖</button>
		</form>
	</div>
</section>

<div id="results_section">
	{% if results != {} %}
		
		<div id="map" style="width: 50%; float: left; height: 300px;">
			<div id="crosshairs" style="background-color:#fff;"></div>
		</div>
		<div id="header_info" style="width: 50%; padding-left:10px; padding-right:5px; float: right; height: 300px;">
			<h3>Bounding box: </h3>
				<h4>swlat, swlon, nelat, nelon</h4>
				<pre>{{results['bbox']}}</pre>
				<h4> Names </h4>
				<table class="table">
					<tr>
						<th>Primary Name</th>
						<td> {{results.primary_name}} </td>
					</tr>
					<tr>
						<th>Alternative Names</th>
						<td> {{results.alt_names}} </td>
					</tr>
				</table>
				<div class="whereami-controls"> 
					<ul id="whereami-info"> 
						<li id="whereami-latlon"></li> 
						<li id="whereami-zoom"></li> 
						<!-- <li id="whereami-reversegeo"></li>  -->
					</ul> 
				</div>
		</div>
		
		<div id="place_props" style="padding-top: 400px; padding-left: 5px; padding-right: 5px;">
			<div> 
				<h3> Properties: </h3>
				<h4> Classification </h4>
				<table class="table">
					<tr>
						<th>Term Name</th>
						<td> {{results.type}}</td>
					</tr>
				</table>
				<h4> Temporal Availability </h4>
				<table class="table">
					<tr>
						<th>Historical Time</th>
						<td> {{results.time_period_term}}</td>
					</tr>
				</table>
				<h4> Geometry </h4>
				<table class="table">
					<tr>
						<th>Type</th>
						<td> {{results.geometry.type}}</td>
						
					</tr>
					<tr>
						<th>Coordinates</th>
						<td> {{results.geometry.coordinates}}</td>
						
					</tr>
					<tr>
						<th>Area</th>
						<td> {{results.geometry.area}}</td>
					</tr>
				</table>

				<h4> Sources </h4>
				<table class="table">
					<tr>
						<th>Full Reference</th>
						<td> {{results.source}}</td>
					</tr>
					<tr>
						<th> Author/Mnemonic </th>
						<td> {{results.mnemonic}}</td>
					</tr>
				</table>
				<h4> Related Features </h4>
				<table class="table">
					{% for related in results.related_features %}
					<tr class='clickable-row' data-href="/place-info/?input_place={{related[1]}}" method = POST>
						<th>Primary Name</th>
						<td> {{related[0]}}</td>
						<th>Related ID</th>
						<td> {{related[1]}}</td>
						<th> Relation Type</th>
						<td> {{related[2]}}</td>
					</tr>
					{%endfor%}
				</table>
			</div>
		</div>
	{% else %}
		<h2> No Data available on the place in question</h2>
	{% endif %}
</div>

<div id="whereami-feedback" style="display: none"></div>

<script type="text/javascript">

$(function() {
    $("#input_place").autocomplete({
        source:function(request, response) {
            $.getJSON("{{url_for('autocomplete')}}",{
                place: request.term,
            }, function(data) {
                response(data.json_list); 
            });
        },
        minLength: 2,
        select: function(event, ui) {
        }
    });
});

jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});

let myStyle = {
	"color": "#2424da",
	"weight": 2,
	"opacity": 0.9
};

let geojsonMarkerOptions = {
    radius: 6,
    fillColor: "#e30505",
    color: "#fffff",
    weight: 1,
    opacity: 1,
    fillOpacity: 0.9
};

let query_string = "";

function map_painter(geoResults) {
	let map_obj = mapzen.whosonfirst.leaflet.tangram.map('map');
	let jsonResults = JSON.parse(geoResults);
	if(Array.isArray(jsonResults)){
		mapzen.whosonfirst.iamhere.reverse_geocode(deafult_string);
		return;
	}
	let id_string="";
	for(const feature of jsonResults["features"]){
		if(feature["geometry"]["coordinates"]){
			var geojsonFeature = {
				"type": "Feature",
				"properties": {
					"name": feature['properties']['name'],
					"amenity": feature['properties']['name'],
					"popupContent": feature['properties']['popupContent']
				},
				"geometry": {
					"type": feature["geometry"]["type"],
					"coordinates": feature["geometry"]["coordinates"]
				}
			};
			id_string+=feature['feature_id']+"##";
			if(geojsonFeature["geometry"]["type"]==="Point"){
				let new_layer = mapzen.whosonfirst.leaflet.draw_point(map_obj,geojsonFeature,myStyle,geojsonMarkerOptions);
			}
			else if(geojsonFeature["geometry"]["type"]==="Polygon" || geojsonFeature["geometry"]["type"]==="MultiPolygon"){
				let new_layer = mapzen.whosonfirst.leaflet.draw_poly(map_obj,geojsonFeature,myStyle);
			}
		}
	}
	query_string = id_string.substring(0, id_string.length - 2);
	$('<input/>', { id: 'query', name: 'query', value: query_string, type: 'hidden' }).appendTo('#export_form');
	mapzen.whosonfirst.iamhere.reverse_geocode(query_string);
}

window.onload = function(e){
	mapzen.whosonfirst.config.init();
	mapzen.whosonfirst.iamhere.init();
	map_painter('{{geoResults|tojson|safe }}');
}

</script>

</body>
</html>